<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="DefaultLayout" value="[${time}][${level}] ${message}"/>
  <variable name="CallsiteLayout" value="[${time}][${level}] ${callsite}: ${message}"/>
  <targets>
    <target name="Console"
				xsi:type="Console"
				layout="${DefaultLayout}"/>

    <target name="DebugFileLog"
				xsi:type="File"
				fileName="logs/debug_${shortdate}.log"
				layout="${CallsiteLayout}"/>
    <target name="InfoFileLog"
				xsi:type="File"
				fileName="logs/info_${shortdate}.log"
				layout="${DefaultLayout}"/>
    <target name="ErrorFileLog"
				xsi:type="File"
				fileName="logs/error_${shortdate}.log"
				layout="${CallsiteLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console"/>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="DebugFileLog"/>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="InfoFileLog"/>
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorFileLog"/>
  </rules>
</nlog>